# Version Control
.git
.gitignore
.gitattributes
.gitguardian.yml
.github

# IDE & Editors
.idea/
.vscode/
**/*.iml
*.ipr
*.iws

# Maven / Java build output
**/target/
**/.mvn/
**/mvnw
**/mvnw.cmd
**/*.class

# Documentation
**/*.md
LICENSE

# Environment Files
.env*
!.env.example

# OS & System Files
**/.DS_Store
**/Thumbs.db
Desktop.ini
**/*.log