POSTGRES_DB=faq_service
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
MONGO_USER=faq_service_admin
MONGO_PASSWORD=mongo_password
REDIS_PASSWORD=redis_password
SECURITY_JWT_SECRET_KEY=k8s9f7j2m5p3q6r1t4v7x9z0b2d4g6h8j0l2n4p6r8t1v3x5z7y9w5u3a1c8e0g2i4