# Version Control
.git
.gitattributes

# IDE & Editors
.idea/
.vscode/
*.iml
*.ipr
*.iws
out/

# Maven / Java build output
target/
!.mvn/wrapper/maven-wrapper.jar

# Documentation
HELP.md

# Environment Files
.env*
!.env.example

# OS & System Files
.DS_Store
Thumbs.db
Desktop.ini
*.log